main {
  display: inline-block;
  width: 1250px;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: blue;
  color: aliceblue;
  width: 1250px;
}
.center {
padding: 10px;
}

.right {
  display: inline-block;
  position: absolute;
  right: 650px;
  width: 20%;
  text-align: left;
}

.box {
  padding: 50px,0,10,0;
  margin: 50px;
}

.sidebox {
  display: inline-block;
  width: 50%;
}
.bluebox {
  background-color: blue;
  width: 1250px;
  padding: 10px;
  margin: 0;
}
.image {
  display: inline-block;
  width: 50%;
}
footer {
  display: inline-block;
  width: fit-content;
  height: 20vh;
  background-color: blue
}