main {
  margin: 5vh;
  margin: 15vw;
}
h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: blue;
  color: aliceblue;
}
.center {
padding: 10px;
}

.right {
  display: inline-block;
  position: absolute;
  right: 0px;
  width: 20%;
  text-align: left;
}

.box {
  padding: 100px,0,10,0;
  margin: 200px;
  width: 50%;
}

.sidebox {
  display: inline-block;
  width: 25%;
}
.bluebox {
  background-color: blue;
  width: 1000px;
  padding: 10px;
  margin: 0;
}
.image {
  display: inline-block;
  width: 50%;
}
footer {
  display: inline-block;
  width: fit-content;
  height: 20vh;
  background-color: blue
}